uv_sbvr
logs/
__pycache__/
compressed_weights/
sbvr_weight.zip
result.txt
dummy/
build/
dist/
data/
histograms/
*.egg-info/
*.txt
*.pt
*.pyc
*.so
*.zip
*.png

Llama-3.2-1B-gptq-4bit/
sbvr_models/
cutlass/
fast-hadamard-transform/
SGEMM_CUDA/
cuda_hgemv/

sbvr_env/

.vscode/